n8n-flows/02_cron_refresh_embeddings.json
{
  "name": "E-Vendify - Cron Refresh Embeddings",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "schedule-trigger",
      "name": "Every 6 Hours"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "store_knowledge_base",
        "returnAll": false,
        "limit": 50,
        "filters": {
          "conditions": [
            {
              "keyName": "embedding",
              "condition": "null",
              "keyValue": ""
            },
            {
              "keyName": "is_active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [220, 0],
      "id": "get-pending-embeddings",
      "name": "Get Products Without Embedding",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase-e-vendify"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 0],
      "id": "split-batches",
      "name": "Process One by One"
    },
    {
      "parameters": {
        "jsCode": "// Obtener item actual\nconst item = $json;\n\nconsole.log('📝 Procesando:', item.title);\n\n// Llamar a OpenAI para generar embedding\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.openai.com/v1/embeddings',\n  headers: {\n    'Authorization': `Bearer ${$env.OPENAI_API_KEY}`,\n    'Content-Type': 'application/json',\n  },\n  body: {\n    input: item.content_text,\n    model: 'text-embedding-3-small'\n  },\n});\n\nconst embedding = response.data[0].embedding;\n\nconsole.log('✅ Embedding generado para:', item.title);\n\nreturn [{ \n  json: {\n    id: item.id,\n    embedding: embedding,\n    title: item.title\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "generate-embedding-batch",
      "name": "Generate Embedding"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "store_knowledge_base",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "embedding",
              "fieldValue": "={{ JSON.stringify($json.embedding) }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [880, 0],
      "id": "update-embedding-batch",
      "name": "Update Embedding",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase-e-vendify"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1100, 0],
      "id": "loop-back",
      "name": "Continue Loop"
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Get Products Without Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Products Without Embedding": {
      "main": [
        [
          {
            "node": "Process One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One by One": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Update Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Embedding": {
      "main": [
        [
          {
            "node": "Process One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City"
  },
  "active": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "e-vendify"
    }
  ]
}
